body {
    margin: 0;
}

div:nth-child(1),div:nth-child(2),div:nth-child(3) {
    margin:0 !important;
    display: inline-block;
    border: 1px solid black;
    height: 603px;
}

div:nth-child(1), div:nth-child(3) {
    width: 27%; /* original é 27.64*/
    background-color: aqua;
}

div:nth-child(2) {
    width: 44.72%;
    background-color: gray;
}